---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import WorkshopComponent from "../../components/Allworkshop.astro";
import picture from "../../assets/Gallery_Moose_Multiscale.webp";
import { SITE_URL } from "../../constants";
const allWorkshops = (await getCollection("workshops")).sort();
const Sortedworkshops: CollectionEntry<"workshops">[] = (
  await getCollection("workshops")
).sort(
  (a: CollectionEntry<"workshops">, b: CollectionEntry<"workshops">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<"workshops"> = Sortedworkshops[0];
const { Content } = await mostRecentArticle.render();
// Prepare slides for carousel
const chunkSize = 4;
const slides = [];
for (let i = 0; i < allWorkshops.length; i += chunkSize) {
  slides.push(
    allWorkshops.slice(i, i + chunkSize).map((item) => ({
      slug: item.data.slug,
      title: item.data.title,
      description: item.data.description,
      image: item.data.image || ''
    }))
  );
}

import { formatDate } from "../../utils";
import type { CollectionEntry } from "astro:content";
---

<BaseLayout title="Workshops">
  <section class="p-1">
    <h1 class="text-5xl text-black p-5 text-center box-border pt-20">
      Workshops
    </h1>

    <!--Latest workshop-->
    <div class="grid grid-flow-col grid-rows-3 gap-4 p-12 pt-30">
      <img src={mostRecentArticle.data.image} alt="" class="row-span-3" />
      <h3 class="col-span-2 prose font-bold text-5xl">
        {mostRecentArticle.data.title}
      </h3>
      <p class="prose lg:prose-xl">{mostRecentArticle.data.description}</p>
    </div>
    <div class="col-span-2 row-span-2 p-10 prose lg:prose-p">
      <Content />
    </div>

    <div class="bg-slate-100 px-2 py-10 max-w-full">
      <h2 class="text-2xl text-center font-bold mb-6 text-gray-800">
        More Workshops
      </h2>
      <!-- <WorkshopComponent slides={slides} client:load /> -->
    </div>
  </section>
</BaseLayout>

<script>
  const nav = document.getElementsByTagName("header")[0];
  nav.classList.add("bg-black");
</script>
