---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allWorkshops = await getCollection("workshops");

const Sortedworkshops: CollectionEntry<"workshops">[] = (
  await getCollection("workshops")
).sort(
  (a: CollectionEntry<"workshops">, b: CollectionEntry<"workshops">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<"workshops"> = Sortedworkshops[0];
const { Content } = await render(mostRecentArticle);

import { formatDate } from "../../utils";
import type { CollectionEntry } from "astro:content";
import WorkshopCarouselWrapper from "../../components/WorkshopCarouselWrapper.tsx";
---

<BaseLayout title="Workshops">
  <section class="p-1">
    <h1 class="text-5xl text-black p-5 text-center box-border pt-20">
      Workshops
    </h1>

    <!--Latest workshop-->
    <div class="container w-full">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-2 p-6">
        <div class="md:row-span-2 md:col-span-1">
          <img
            src={mostRecentArticle.data.image || "/placeholder.svg"}
            alt={mostRecentArticle.data.title}
            class="max-w-full h-auto object-cover rounded-lg"
          />
        </div>
        <div class="md:col-span-2 space-y-4">
          <h3 class="font-bold text-4xl md:text-5xl">
            {mostRecentArticle.data.title}
          </h3>
          <p class="prose lg:prose-s p-1">{mostRecentArticle.data.description}</p>
        </div>
      </div>
    </div>
    <div class="max-w-full p-6 md:p-10 prose lg:prose-l mx-auto">
      <Content />
    </div>
    <WorkshopCarouselWrapper allworkshops={allWorkshops} client:load />
  </section>
  <script>
    const nav = document.getElementsByTagName("header")[0];
    nav.classList.add("bg-black");
  </script>
</BaseLayout>
