---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Activity">
    <section class="p-12">
    <h1 class="text-5xl text-black p-5 text-center box-border">Activity Page</h1>
</section>
</BaseLayout>
<script>
    const nav = document.getElementsByTagName("header")[0];
    nav.classList.add("bg-black")  
</script>