---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarouselWrapper from "../components/BlogCarouselWrapper";
import type { CollectionEntry } from "astro:content";
---

<BaseLayout title="Blog">
  <section class="p-12">
    <h1 class="text-4xl text-black p-15 text-center box-border bg-amber-100">
      Blog
    </h1>
    <BlogCarouselWrapper client:load>
</Carousel>

  </section>
  <script>
    const nav = document.getElementsByTagName("header")[0];
    nav.classList.add("bg-black");
  </script>
</BaseLayout>