---
import Hero from "../components/Hero.astro";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarouselWrapper from "../components/BlogCarouselWrapper";
import type { CollectionEntry } from "astro:content";
---

<BaseLayout title="Blog">
  <Hero title="MOOSE Blog" />
  <section class="p-12 h-full">
    <BlogCarouselWrapper client:load />
  </section>
  <h3 class="text-4xl p-12 text-center text-brand-secondary">Coming Soon...</h3>
</BaseLayout>
<script>
  const nav = document.getElementsByTagName("header")[0];
  nav.classList.add("bg-black");
</script>
