---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Documentation">
    <h1 class="text-5xl text-black p-5 text-center">Documentation Page</h1>
  
</BaseLayout>
<script>
    const nav = document.getElementsByTagName("header")[0];
    nav.classList.add("bg-black")
  </script>