---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { readFile } from "fs/promises";
const faq = await readFile("src/content/FAQ.html");
---

<BaseLayout title="Software FAQ">
  <section class="p-12">
    <h1
      class="text-5xl sm:text-5xl lg:text-6xl font-normal text-gray-900 text-center px-4 sm:px-6 lg:px-8 py-16 sm:py-20"
    >
      Frequently asked questions
    </h1>
    <div class="prose lg:prose-xl text-center p-5"></div>
    <div set:html={faq}></div>
  </section>
</BaseLayout>
