---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="News">
  <section class="p-12 h-full">
   <h1 class="text-5xl sm:text-5xl lg:text-6xl font-normal text-gray-900 text-center px-4 sm:px-6 lg:px-8 py-16 sm:py-20">News</h1>
    <h3 class="text-4xl p-12 text-center font-stretch-normal text-brand-secondary">Coming Soon...</h3>
</BaseLayout>
