<button
  class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-black rounded-lg group bg-gradient-to-br from-brand-primary to-brand-tertiary group-hover:from-purple-600 group-hover:to-brand-primary hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
>
  <span
    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent"
  >
    <a href="">
      Learn more →
    </a>
  </span>
</button>
