---
import "../styles/global.css";
const { id, title, content, isOpen = false } = Astro.props;
---
<details class={`border border-gray-200 dark:border-gray-700 ${isOpen ? "open" : ""}`}>
  <summary class="bg-white cursor-pointer p-2 m-0.5 font-medium text-gray-900 dark:bg-gray-800 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
    {title}
  </summary>
  <div class="p-2 m-0.5 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300">
    {content}
  </div>
</details>