---
import fs from "fs";
import path from "path";
import Cite from "citation-js";

function formatCitations() {
  const bibtex = fs.readFileSync("./public/assets/publications.bib", "utf-8");
  const cite = new Cite(bibtex);
  const output = cite.format("bibliography", {
    format: "text",
    template: "apa", // use "apa" style
    lang: "en-US",
  });
  return output;
}

const citations = formatCitations()
  .split("\n")
  .filter((line) => line.trim().length > 0);
---

<section class="p-2 bg-white max-full mx-auto">
  <h2
    class="text-4xl flex-initial transform-border font-semibold text-black text-center p-2"
  >
    Publications
  </h2>

 <ul class="mx-auto bg-base-100 rounded-box p-4 space-y-4">
  {citations.map((citation, index) => (
    <li class="flex items-start space-x-2" key={index}>
      <div class="text-3xl font-thin opacity-90 tabular-nums text-highlight-neon min-w-[3rem] text-wrap">
        {String(index + 1).padStart(2, "0")}
      </div>
      <!--wrap-anywhere fix for citation -->
      <div class="italic text-xl font-normal text-gray-700 wrap-anywhere" set:html={citation} />
    </li>
  ))}
</ul>


</section>
