---
import "../styles/global.css";
const tutorials = await Astro.glob("../content/tutorials/tutorial.md");

interface TutorialItem {
  title: string;
  description: string;
  url: string;
}

const tutorialData = tutorials[0].frontmatter.tutorial as TutorialItem[];
---

<section class="bg-stone-600 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-10">
    <div class="grid md:grid-cols-2 gap-8 border-amber-500">
      {
        tutorialData.map((item) => (
          <div class="bg-gray-500 dark:bg-gray-800 border border-amber-50 dark:border-gray-700 rounded-lg p-8 md:p-12 flex flex-col h-full">
            <div class="flex-grow">
              <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
                {item.title}
              </h2>
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                {item.description}
              </p>
            </div>
            <div class="mt-auto pt-4">
              <a
                href={item.url}
                class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center"
              >
                Read more
                <svg
                  class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  {/* <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  /> */}
                </svg>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>