---
import { Image } from "astro:assets";
import moose_logo from "../assets/Gallery_Moose_Multiscale.webp";
const cards = [
  {
    title: "Single Neuron Electrical Aspects",
    description: " Neurons modeled as equivalent electrical circuits.",
    image: "bg-red-50",
    url: "https://moose.ncbs.res.in/readthedocs/user/py/cookbook/elec.html",
  },
  {
    title: "Chemical Bistables",
    description: "A bistable system has two stable equilibrium states.",
    image: "bg-yellow-50",
    url: "https://moose.ncbs.res.in/readthedocs/user/py/tutorials/ChemicalBistables.html",
  },
];
---

<div
  class="bg-gray-100 p-8 gap-4 max-w-full grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3"
>
  {
    cards.map((article: any) => (
      <div class="relative w-full h-96 overflow-hidden bg-cover shadow-lg">
        <div class="absolute top-0 right-0 h-full w-1 bg-blue-900" />
        <div class="absolute top-0 right-0 h-1 w-full bg-blue-900" />

        <div class="p-8 flex flex-col bg-gradient-to-bl from-stone-50/25 to-brand-secondary">
          <h2 class="mb-8 text-2xl w-full h-10 leading-tight font-bold text-text-primary">
            {article.title}
          </h2>
          <div class="flex space-x-4 size-48">
            <p class="text-xl font-medium text-white"> 
              {article.description}
            </p>
          </div>
          <a
            href={article.url}
            class="inline-flex w-fit items-center rounded bg-white font-semibold text-highlight-neon hover:border-b-2 border-indigo-500 shadow-sm transition-shadow px-5 py-2.5 mb-3 me-2"
          >
            Read More
            <svg
              class="ml-2 h-4 w-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </a>
        </div>
      </div>
    ))
  }
</div>
