---
import { getCollection } from "astro:content";
import Hero from "../../components/Hero.astro";
import "../../styles/global.css";
import BlogCarouselWrapper from "../../components/BlogCarouselWrapper";
import BlogsLayout from "@/layouts/BlogsLayout.astro";
---

<BlogsLayout>
  <Hero title="Blogs" />
  <section class="py-12 lg:py-16">
    <BlogCarouselWrapper client:load blogs={await getCollection("blogs")} />
  </section>
</BlogsLayout>

<!-- Navbar appearance handled by `Navbar` component -->